<!-- Loop over each object in the blog array -->
{{#each blogs as |blog| }}
<div class="row mb-4 blog">
  <div class="col-md-5">
    <h2>
      <a href="/blog/{{blog.id}}">{{blog.title}}</a>
    </h2>
    <p>{{blog.body_text}}</p>
    <span>Written by {{blog.user.username}} on {{format_date blog.date_created}}</span>
  </div>
</div>
{{/each}}